html,body{
    padding: 0;
    margin: 0;
    background: #000;
}

 img{
    margin:3% 45%;
}
.block_center{
    margin:0 30%;
    width: 40%;
    position: relative;
}
a{
    display: inline;
    color:gray;
    cursor: pointer;
    font-size: 2em;
    margin: 45px;
}
a:hover{
    color: white;
    text-decoration: none;
}
#enter{
    color: white;
}
#registr{
    color:white;
}
#h2{
    margin-left: 40%;
    color: gray;
}
input{
    width: 1000%;
    border: 1px solid gray;
    background:none;
    color:white;
    line-height: 40px;
    padding-left: 5%;
}
.checkbox{
    display: flex;
    justify-content: space-between;
    color:white;
    outline: none;
    transition-duration: 0.3s;
    margin-top: 19.5%;
}
.checkbox >input{
    height:20px;
    width: 20px;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
}
span{
    color:white;
    cursor: pointer;
    text-decoration: underline white;
}
.checkbox #span1{
    margin-right: 40%;
    text-decoration: none;
}
p{
    margin: 0;
    margin-top: 10%;
    color:gray;
}
button{
    width: 40%;
    height: 40px;
    background: none;
    color:white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10% 30%;
}