html,body{
    background: #000;
    background-image:url("../img/Фоновые элементы.png");
    color:white;
}
section{
    margin: 2% 0;
}
header ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type:none;
    margin-top: 3%;
}
header ul img{
    margin-top: -2% ;
}
header a, header a:hover{
    color:white;
    text-decoration: none;
}
header .carousel{
    widows: 100%;
}
header .carousel .img{
    width: 100% !important;
    height: 90vh !important;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    margin-top: 10%;
    line-height: 30px;
}
li{
    cursor: pointer;
    padding: 0;
}

#enscart_my_wrapper {
    text-align: center;
    position: absolute;
    top: 30px;
    right: 100px;
    z-index: 1140;
}
  #enscart_myimage_wrapper {
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 1140;
}
  #enscart_my_wrapper img {
    height: 80%;
    width: auto;
    padding-top: 8px;
}
  #enscart_my_counter_wrapper {
    cursor: pointer;
    min-width: 30px;
    height: 30px;
    background-color: #d62240;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -10px;
    top: -5px;
    text-align: center;
    line-height: 30px;
    font-family: Arial,sans-serif;
    margin: 0px 3px;
    z-index: 1150;
}
#easynetshop-cart {
    border: none;
    background-color: transparent;
}

#menu{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 0;
}
#contact{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 0;
}
#stock{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 0;
}
b{
    margin-top: 5%;
    font-size: 50px;
}
#new{
    border-top:1px solid white;
    border-bottom:1px solid white;
}
.cardFLex{
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.cardFLex .cards{
    width: 20rem;
    margin-top: 8%;
}
.cardFLex .cards img{
    width: 100%;
    height: 220px;
}
.cardFLex .Num{
    padding: 0 12%;
}
 .cardFLex button{
    background:none;
    color:white;
    border: 1px solid white;
    padding: 1% 5%;
}
.cardFLex button:active{
    background:green;
}
.our{
    display: grid;
    grid-template-columns: 3fr 3fr;
    margin-top: 5%;
}
.our img{
    width: 90%;
}
.text{
    width: 100%;
}
section #b{
    margin-top: 2%;
    font-size: 50px;
}
.sliderNews{
    width: 100%;
    margin-top: 10%;
}
.menuP{
    height: 50px;
    overflow-y:auto;
}
.loading{
    margin:10% 40% 0% 40%;
    background: none;
    color: white;
    border:1px solid white;
    padding: 2vh 2em;
}
.loading:active{
    background:white;
    color: black;
}
.card_stock{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 5%;
}
.card_stock img{
    width: 80%;
}
.price{
    display:grid;
    grid-template-columns: 2fr 10fr;
    margin-top: 10%;
}
.card_stock p {
    font-size: 20px;
    max-height: 12%;
}
.card_stock .sall{
    color: red;
    text-decoration: line-through;
}
.card_stock .onSall{
    color:green;
}
.card_stock button{
    padding: 2% 5%;
    background: none;
    color:white;
    margin-top: 9%;
    border: 1px solid white;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact h4{
    margin-top: 15%;
}
.allBlock{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

/*karzina*/
.block-card{
    width:70%;
    height: 30vh;
    margin-top: 5%;
    position: relative;
}
.block-card img{
    width: 40%;
}
.block-card-info{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 10%;
    position: absolute;
    top:20%;
    left: 50%;
}
.foot{
    position: absolute;
    top:0;
    left:50%;
}
.summa{
    margin-top:10%;
}
.checkout{
    padding: 10px 30px;
    background: none;
    color:white;
    margin-top: 5%;
    border: 1px solid white;
}
.checkout:hover{
    background-color: white;
    color:black;
}
#oform{
    margin-top: 5%;
    padding: 15px 20px;
    border: 1px solid black;
}
.count{
    width: 30%;
}
.count_wr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10%;
    
}
.count_wr span{
    color:white;
    font-size: 20px;
}
.count_btn{
    color:white;
    background: none;
    border: none;
}
.count_value{
    background: none;
    color:white;
    width: 30px;
    border: none;
}
#map{
    width:700px;
    height: 500px;
}
footer{
    margin-top: 15%;
}
footer img{
    width: 20%;
    margin-bottom: 5%;
    margin-top: -5%;
}
footer .FooterFlex{
    display: flex;
    justify-content:space-between;
    width:100%;
}
footer .iconMessenger {
    width: 35px;
}
footer .iconMessenger img{
    width: 100%;
    margin: 23% 0;    
    cursor: pointer;
}

@media (max-width: 575.98px) {
    footer .FooterFlex{
        display: block;
        width: 100%;
        font-size: 20px;
    }
    .sectionMenu{
        display: none;
    }
    footer .iconMessenger {
        width: 100%;
    }
    footer .iconMessenger img{
        width: 10%;
        margin: 0% 0;    
        cursor: pointer;
    }
}
@media (max-width: 767.98px) {
    .our{
        display: block;
    }
    .our img{
        width: 100%;
        margin-bottom: 5%;
    }
    .sectionMenu{
        display: none;
    }
    footer .FooterFlex{
        display: block;
    }

    
}
@media (max-width: 991.98px) {
    .our{
        display: block;
    }
    .our img{
        width: 100%;
        margin-bottom: 5%;
    }
    .price{
        display:grid;
        grid-template-columns: 5fr 9fr;
        margin-top: 15%;
    }
    .card_stock p {
        font-size: 15px;
        max-height: 12%;
    }
    #map{
        width:500px;
        height: 500px;
    }
}